/* Card-letest-news */

#latest-news  .post {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
  padding-top: 1rem;
  border-top: 1px solid #333;
}
#latest-news  .post .container-img-latest {
  width: 45%;
  height: 260px;
  position: relative;
}
#latest-news  .post .container-img-latest img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: .5s;
}
#latest-news  .post .container-img-latest img:hover{
  filter: brightness(40%);
}
.category-post-ln {
  color: #f3b410;
  border-radius: 0.2rem;
  padding: 0.2rem;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.7rem;
}
#latest-news  .post .content-post {
  width: 55%;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#latest-news  .post .content-post .title-post {
  font-size: 1.5rem;
  font-weight: bolder;
}
#latest-news  .post .content-post .preview-description {
  color: #d3d3d3;
  font-size: 1.1rem;
  line-height: 2rem;
}
#latest-news  .post .content-post .post-details{
  display: flex;
  justify-content: space-between;
}
#latest-news  .post .content-post a:hover{
  text-decoration: underline;
}


/*  */
#latest-news  {

}
#latest-news .container-aside-ln .post {
  flex-direction: column;
}
#latest-news  .container-aside-ln .post .container-img-latest {
  width: 100%;
  height: 200px;
  position: relative;
}
#latest-news .container-aside-ln  .post .content-post {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}