/*::::::::::-> Configurações gerais <-::::::::::*/

/* Váriaveis de estilização do projeto */
:root{
  --border-radius-default: 1rem;
  --padding-default: 1rem;
  --main-color: #202024;
  --bg-color: #16161a;
  --title-color: #f8f8fb;
  --styled-color: #f3b410;
  --font-main: 'Lato', sans-serif;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-main);
}

body{
  width: 100%;
  background-color: var(--bg-color);  
  
}

a{
  text-decoration: none;
  color: var(--title-color);
}

button{
  background: none;
  border: none;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 1325px;
  width: 90%;
}

.active{
  color: var(--styled-color);
}

.hide{
  display: none;
}
/*::::::::::-> Estilos do Header <-::::::::::*/
.container-header{
  width: 100%;
  background-color: var(--main-color);
}
header{
  border: 1px solid red;
  height: 100px;
  margin: auto;
  align-items: center;
  min-height: 100px;

}
header .logo img{
  width: 80px;
  cursor: pointer;
}
header nav{
  display: flex;
  gap: 3rem;
}
header ul{
  display: flex;
  gap: 1rem;
}
header ul.navbar{
  text-transform: uppercase;
  font-weight: bold;
}
header ul.social-media{
  font-size: 1rem;
}
header ul li{
  list-style: none;
}
header ul.navbar li a{
  padding: .5rem;
}
header ul li a:hover{
  color: var(--styled-color);
}

header .btn-hamburger{
  display: none;
}
header .btn-hamburger button{
  color: var(--title-color);
  font-size: 2rem;
  cursor: pointer;
  transition: .8s;
} 
header .btn-hamburger button:hover{
  color: #f3b410;
}
header .btn-hamburger button:active{
  opacity: .7;
}


/*::::::::::-> Responsiviade <-::::::::::*/
@media (max-width: 900px){
  header .btn-hamburger{
    display: block;
  }

  /* Modificando o menu para mmenu mobile */
  .container-header{
    position: relative;
  }
 
  header nav{
    background-color: var(--main-color);
    box-shadow: 2px 2px 10px black;

    position: fixed;
    top: 0;
    left: 0;

    min-height: 100vh;
    width: 80%;
    max-width: 200px;
    
    display: flex;
    flex-direction: column;
  }
  
  header nav ul{
    flex-direction: column;
  }

  header nav ul.navbar{
    padding: 1rem 0 1rem 1rem;
  }

  header nav ul.social-media{
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    bottom: 1rem;
    left: 20%;
    right: 20%;
  }
  
  header nav ul.social-media li{
    flex: 1;
  }
  /* Finalizando o menu mobile*/

}