/*::::::::::-> Configurações gerais <-::::::::::*/

/* Váriaveis de estilização do projeto */
:root{
  --radius: 1rem;
  --padding: 1rem;
  --main-color: #202024;
  --bg-color: #16161a;
  --title-color: #f8f8fb;
  --styled-color: #f3b410;
  --font-main: 'Lato', sans-serif;
  --theme-light: #f8f8fb;
  --theme-light-bg: #e4e5f1;
  --dev-border: 0px solid red;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-main);
}
body{
  width: 100%;
  background-color: var(--bg-color);  
}
a{
  text-decoration: none;
  color: var(--title-color);
}
button{
  background: none;
  border: none;
}
nav
ul, li{
  list-style: none !important;
}
.container {
  display: flex;
  justify-content: space-between;
  max-width: 1250px;
  width: 90%;
}
.active{
  color: var(--styled-color);
}
.hide{
  display: flex;
}
/*::::::::::-> END Configurações gerais <-::::::::::*/



/*::::::::::-> Estilos do Header <-::::::::::*/
.container-header{
  width: 100%;
  background-color: var(--main-color);
}

/* About site */
.informations-about{
  background-color: var(--bg-color);
}
.informations-about-content{

  margin: 0 auto ;
  padding: .5rem .5rem;
  color: #e4e5f1;
}
.navbar-infos{
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: .7rem;
}
/*END About site */

/* Header */
header{
  /* border: 1px solid red; */
  height: 100px;
  margin: auto;
  align-items: center;
  height: 70px;

}
header .logo img{
  width: 60px;
  cursor: pointer;
}
/*header*/ nav{
  display: flex;
  gap: 3rem;
}
/*header*/ ul{
  display: flex;
  gap: 1rem;
}
header ul.navbar{
  text-transform: uppercase;
  font-weight: bold;
}
header ul.navbar i{
  display: none;
}
header ul.social-media{
  font-size: 1.2rem;
}
header ul.navbar li a{
  padding: .5rem;
  font-size: .9rem;
}
/*header*/.light ul li .bi:hover,  ul li a:hover{
  color: var(--styled-color);
}
/*header*/.light  ul li a:hover, ul li:hover{
  color: var(--styled-color);
}
header .btn-hamburger{
  display: none;
}
header .btn-hamburger button{
  color: var(--title-color);
  font-size: 2rem;
  cursor: pointer;
  transition: .8s;
} 
header .btn-hamburger button:hover{
  color: #f3b410;
}
header .btn-hamburger button:active{
  opacity: .7;
}
/*END Header */

/* Search */
header .container-search{
  padding: 0 .4rem;
  border-radius: .2rem;
  background-color: #25282F;
}
header .container-search input{
  background-color: transparent;
  border: none;
}
header .container-search input{
  outline: none;
  color: var(--title-color);
}
header .container-search button{
  font-size: 1rem;
  padding: .2rem;
  cursor: pointer;
  color: var(--title-color);
}
header .container-search button:hover{
  color: var(--styled-color);
}
/* END Search */

/*---------->END Estilos do Header <-----------*/



/*::::::::::-> Estilos de mundança de tema  <-::::::::::*/
.container-change-theme input[type="checkbox"] {
  display: none;
}
.container-change-theme .bi {
  cursor: pointer;
  color: var(--title-color);
  font-size: 1.2rem;
}
.bi-moon {
  display: none;
}
.light{
  background-color: var(--theme-light-bg);
 }
.light .container-header {
  background-color:  var(--theme-light);
}
.light .container-header header a{
  color: var(--bg-color);
}
.light .bi-sun {
  display: none;
}
.light .bi-moon {
  display: block;
  color: var(--bg-color);
}
/*Theme para mobile*/
.light header .btn-hamburger .bi{
  color: var(--main-color);
}
.light header nav{
  background-color: var(--theme-light);
  
}
.light header .container-search{
  background-color: white;
}
.light .container-search .bi,
.light .container-search input{
  color: #16161a;
}
.light .container-search .bi:hover{
  color: #f3b410;
}
/*----------> END Estilos de mundança de tema  <-----------*/


/*:::::::::::::::-> Estilos gerais da Main <-:::::::::::::::*/
.container-main{
  flex-direction: column;
  margin: auto;
  border: var(--dev-border);
}
/*----------> END Estilos gerais da Main  <-----------*/



/*:::::::::::::::-> News Gallery + Carousel <-:::::::::::::::*/
#news-gallery {
  margin: 1rem auto;
  display: flex;
  gap: .5rem;
  width: 100%;
  max-height: 400px;
}
#news-gallery #carousel-container{
  width: 71%;
  height: 100%;
}
#news-gallery #right-news{
  width: 32%;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}
.news-gallery-content{
  max-height: 398px;
  position: relative;
  overflow: hidden;
}
#news-gallery #right-news .news-gallery-content{
  height: 50%;
}
#news-gallery .container-link-post img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  transition: .5s;
}
#news-gallery .container-link-post img:hover{
  transform: scale(1.1);
  filter: brightness(70%);
}
#news-gallery  .container-link-post .info-post{
  background: linear-gradient(rgba(17, 17, 17, 0) , rgba(0, 0, 0, 0.904) );
  color: #e4e5f1;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 1rem;
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: .5rem;
  word-wrap: break-word;
  font-weight: bold;
}
#news-gallery .info-post .category-post{
  background-color: var(--styled-color);
  padding: .2rem;
  width: 97px;
  color: var(--bg-color);
  font-weight: bold;
  border-radius: .2rem;
}
#news-gallery .info-post .title-post{
  text-shadow: 1px 1px 1px black;
}
.carousel-content  .info-post .title-post{
  font-size: 1.8rem;
}
.carousel-content .container-link-post .info-post{
  padding: 2rem;
}
.fade-in {
  animation-duration: 1s;
  animation-name: slide;
  animation-fill-mode: forwards;
}
.container-statistic-author{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: .8rem;
}
.container-controls{
  position: absolute;
  z-index: 10;
  top: 40%;
  width: 100%;
}
.container-controls button {
  width: 35px;
  height: 35px;
  margin: 10px;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  background-color: white;

  z-index: 9;
  transition: .8s;
}
.container-controls button i{
  font-size: 2rem;
  color: #f3b410;
}
.container-controls button:hover {
  opacity: .8;
}
#btn-prev,#btn-next {
    position: absolute;
    z-index: 7;
}
#btn-next {
    right: 0px;
    transform: rotate(180deg);
} 
/*-----------> END News Gallery <------------*/



/*::::::::::-> Responsiviade <-::::::::::*/
@media (max-width: 1100px){
  header .btn-hamburger{
    display: block;
  }

  /* Modificando o menu para menu mobile */

  .container-header{
    position: relative;
  }

  header nav{
    background-color: var(--bg-color);
    box-shadow: 3px 2px 9px 0px rgba(0, 0, 0, 0.363);

    position: fixed;
    top: 0;
    left: 0;

    min-height: 100vh;
    width: 80%;
    max-width: 240px;
    
    display: none;
    flex-direction: column;
    gap: 0;
    z-index: 100;

  }
  
  header nav ul{
    flex-direction: column;
  }

  header nav ul.navbar{
    padding: 1rem;
  }

  header nav ul.navbar li a{
    display: flex;
    align-items: center;
    gap: 1rem;
    border-radius: .4rem;
  }
  header nav ul.navbar{
    margin: 1rem;
  }

  header nav ul.navbar li a:hover{
    background-color: #25282F;
    color: var(--styled-color);
  }

  header ul.navbar i{
    display: inline;
  }

  header .container-search{
    width: 80%;
    margin: 0 auto;
  }
  /* header nav ul.social-media{
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    bottom: 1rem;
    left: 20%;
    right: 20%;
  }

  header nav ul.social-media li{
    flex: 1;
  } */
  
  .bi-sun, .bi-moon{ 
    position: absolute;
    top: 10px;
    right: 10px;
  }
  /* Finalizando o menu mobile*/

}
@media (max-width: 700px){
  .informations-about{
    display: none;
  }
}

/*::::::::::-> Efeitos <-::::::::::*/
@keyframes slide {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}